/*General*/
body{
    font-family: 'Oswald', sans-serif;
}

section{
    padding-top: 60px;
    min-height: 100vh;
    padding-bottom: 30px;
}

.about, .service, .reservation{
    color: #030e18;
}


/*Navbar*/
.navbar{
    background-color: #030e18 !important;
}

.nav-link{
    color: #ddd8d8 !important;
}


/*Home-page*/
.home{
 background-color: #030e18;
 color: #ddd8d8;
}

.home .event-border{
    border: 3px solid #ddd8d8;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    
}

.home .btn{
    background-color: #030e18;
    border: 2px solid #ddd8d8;
    color:  #ddd8d8;
}

.home .btn:hover{
    background-color: #ddd8d8;
    border: 2px solid #ddd8d8;
    color: #030e18;
}

p{
    font-size: large;
}


/*About*/


/*Angebot*/
.filter > *{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border-color: #030e18;
}

.service form button{
    border-radius: 5px;
    border-color: #030e18;
}

.service form button:hover{
    background-color: #030e18;
    border-radius: 5px;
    border-color: #030e18;
    color: white;
}

.service-title{
    font-weight: bold;
}

.service-description{
    text-align: justify;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.service .event-border{
    border: 3px solid #030e18;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    
}

.service .btn{
    background-color: white;
    border: 2px solid #030e18;
    color:  #030e18;
}

.service .btn:hover{
    background-color: #030e18;
    border: 2px solid #030e18;
    color: white;
}


/*Reservation*/

.reservation .service-description{
    text-align: center;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.reservation .event-border{
    border: 3px solid #030e18;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    
}

.reservation .btn{
    background-color: white;
    border: 2px solid #030e18;
    color:  #030e18;
}

.reservation .btn:hover{
    background-color: #030e18;
    border: 2px solid #030e18;
    color: white;
}


/*Filter*/
.filtered-service {
    padding-top: 30px;
}

.filtered-service .event-border{
    border: 3px solid #030e18;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    
}

.filtered-service .btn{
    background-color: white;
    border: 2px solid #030e18;
    color:  #030e18;
}

.filtered-service .btn:hover{
    background-color: #030e18;
    border: 2px solid #030e18;
    color: white;
}








