/*General*/
body{
    font-family: 'Oswald', sans-serif;
}

section{
    padding-top: 30px;
    min-height: 100vh;
    padding-bottom: 30px;
}

.about, .service, .reservation{
    color: #030e18;
}



/*Home-page*/
.home{
 background-color: #030e18;
 color: #ddd8d8;
}

.home .event-border{
    border: 3px solid #ddd8d8;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    
}

.home .btn{
    background-color: #030e18;
    border: 2px solid #ddd8d8;
    color:  #ddd8d8;
}

.home .btn:hover{
    background-color: #ddd8d8;
    border: 2px solid #ddd8d8;
    color: #030e18;
}

p{
    font-size: larger;
}


/*About*/


/*Angebot*/
.service-title{
    font-weight: bold;
}


.service-description{
    text-align: justify;
    hyphens: auto;
}


.service .event-border{
    border: 3px solid #030e18;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    
}

.service .btn{
    background-color: white;
    border: 2px solid #030e18;
    color:  #030e18;
}

.service .btn:hover{
    background-color: #030e18;
    border: 2px solid #030e18;
    color: white;
}


/*Reservation*/

.reservation .service-description{
    text-align: center;
    hyphens: auto;
}
.reservation .event-border{
    border: 3px solid #030e18;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    
}

.reservation .btn{
    background-color: white;
    border: 2px solid #030e18;
    color:  #030e18;
}

.reservation .btn:hover{
    background-color: #030e18;
    border: 2px solid #030e18;
    color: white;
}







